image: docker:latest

variables:
  DOCKER_DRIVER: overlay2

services:
  - docker:dind

stages:
  - build

before_script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then docker login -u ${DOCKERHUB_USERNAME} -p ${DOCKERHUB_PASSWORD} ;fi

build:master:
  stage: build
  script:
    - docker build -t ${DOCKERHUB_REPO}:latest .
    - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then docker push ${DOCKERHUB_REPO}:latest; fi
